version: "3.8"

services:
  app:
    build: ./app
    container_name: devops-app
    ports:
      - 8000:8000
    networks:
      - default

  nginx:
    image: nginx:latest
    container_name: devops-nginx
    ports:
      - 80:80
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: devops-cadvisor
    ports:
      - 8080:8080
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    privileged: true
    networks:
      - default
  node-exporter:
    image: prom/node-exporter:latest
    container_name: devops-node-exporter
    ports:
      - 9100:9100

  prometheus:
    image: prom/prometheus:latest
    container_name: devops-prometheus
    ports:
      - 9090:9090
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./prometheus/rules/alerts.yml:/etc/prometheus/rules/alerts.yml
      - prometheus_data:/prometheus
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --storage.tsdb.path=/prometheus
    depends_on:
      - cadvisor
      - node-exporter
      - alertmanager

  alertmanager:
    image: prom/alertmanager:latest
    container_name: devops-alertmanager
    ports:
      - 9093:9093
    volumes:
      - ./alertmanager/alertmanager.yml:/etc/alertmanager/alertmanager.yml

  grafana:
    image: grafana/grafana:latest
    container_name: devops-grafana
    ports:
      - 3000:3000
    depends_on:
      - prometheus

volumes:
  prometheus_data:
